/* Common styles */
html, body {
    height: 100%;
	scroll-behavior:smooth;
	font-family: 'Raleway', serife;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration:none;
}

body {
	background-image:linear-gradient(45deg, gray 5%, black 90%);
	background-attachment:fixed;
}

/*PROJECT BOXES*/
.postBox {
	background-color:rgba(200, 200, 200, 0.6);
	height:auto;
	cursor:pointer;
	padding-bottom:5px;
	transition: background-color 250ms linear;
}

.postBox h3, 
.postBox h4, 
.postBox h5,
.postBox p{
	width:90%;
	margin-left:5%;
	color:black;
	align-self:flex-end;
}

.postBox p{
	font-size:1.2em;
	line-height:1.2em;
	margin-bottom:0px;
}

.postBox img {
	width:100%;
	height:auto;
}

.postBox:hover {
	background-color:rgba(170, 170, 170, 0.6);
}
