.contactForm{
	padding-top:125px;
	text-align:center;
	color:white;
}

.contactForm input{
	width:450px;
	margin-bottom:30px;
	margin-top:0px;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align:center;
}

.contactForm p{
	margin:0;
}

.contactForm textarea{
	width:750px;
	border: 1px solid #ccc;
	padding-left:20px;
	padding-right:20px;
	border-radius: 25px;
}

.contactForm input[type=submit]{
	width:75px;
	background-color:black;
	color:white;
	border-radius:50px;
	margin-top:25px;
	padding:5px;
	transition: background-color 250ms linear;
}

.contactForm input[type=submit]:hover{
	background-color:#1f1f1f;
}

.contactStatus{
	background-image:linear-gradient(to right, rgba(191, 126, 205, 0), rgba(191, 126, 205, 0.3) 0% 100%, rgba(191, 126, 205, 0));
	border-radius:25px;
	text-align:center;
	margin-left:10%;
	width:80%;
	color:white;
	padding-top:1em;
	padding-bottom:0.5em;
}

@media screen and (max-width:860px) {
	.contactForm{
		padding-top:145px;
	}

	.contactForm input{
		width:350px;
	}

	.contactForm textarea{
		width:90%;
	}
}

/*Small screen*/
@media screen and (max-width:457px) {
	.contactForm{
		padding-top:200px;
	}

	.contactForm input{
		width:75%;
	}

	.contactForm textarea{
		width:90%;
	}
}
