/*HEADER*/
.header {
	background-image:linear-gradient(360deg,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:30px;
	position:fixed;
	top:0px;
	width:100%;
	z-index:100;
}

.header .title {
	float:left;
	margin-top:-15px;
}

.header .title h1 {
	color:white;
}

.header .links {
	float:right;
	margin-top:-5px;
	margin-right:5%;
}

.header .links h2 {
	font-size:18px;
	color:white;
	border:2px solid #000000;
	border-color:white;
	border-radius:25px;
	padding:7px 10px;
}

.header .links h2:hover {
	background-color:red;
}

@media screen and (max-width:860px) {
	.header .title {
		float:none;
	}

	.header .links {
		float:left;
		padding-top:0px;
	}
}

@media screen and (max-width:457px) {
	.header {
		text-align:center;
	}

	.header .links {
		margin:0 0px;
	}

	.header .links h2 {
		font-size:13px;
	}
}
