.ProjectHeadline {
	margin-top:100px;
	text-align:center;
	color:White;
}

.gallery {
	width:75%;
	height:45%;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	top:100%;
	position:relative;
	top:0px;
}

.gallery .slide {
	display:none;
	height:auto;
	width:auto;
}

.gallery .slide img {
	width:auto;
	max-width:100%;
	display:block;
	height:auto;
	max-height:100%;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	position:absolute;
	bottom:0;
	cursor:pointer;
}

.gallery .slide img:hover {
	opacity:75%;
}

.thumbnails {
	width:100%;
	height:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.thumbnails .caption-container {
	text-align:center;
	width:auto;
	height:2em;
	background:radial-gradient(circle, rgba(0,0,0,1) 5%, rgba(0,0,0,0.75) 35%, rgba(0,0,0,0) 50%);
	color:white;
}

.thumbnails .row .column {
	float:left;
	width:10%;
	height:auto;
	margin-left:2%;
}

.thumbnails .row .column img {
	width:auto;
	height:auto;
	max-height:125px;
	max-width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.demo {
	opacity:0.6;
	width:100%;
}

.cursor {
	cursor:pointer;
}

.active,
.demo:hover {
	opacity:1;
}

/*Windowed screen*/
@media screen and (max-width:860px) {
	.ProjectHeadline {
		padding-top:40px;
	}

	.thumbnails .row .column img {
		max-height:200px;
	}
}

/*Small screen*/
@media screen and (max-width:457px) {
	.ProjectHeadline {
		padding-top:75px;
	}

	.thumbnails .row .column img {
		max-height:3000px;
	}
}

/* The Modal*/
.modal {
	display:none;
	position:fixed;
	z-index:999;
	padding-top:80px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.9);
}

.modal .modal-content {
	margin:auto;
	display:block;
	width:auto;
	max-width:95%;
	height:auto;
	max-height:95%;
}

.modal .close {
	position:absolute;
	top:20px;
	right:55px;
	color:#f1f1f1;
	font-size:40px;
	font-weight:bold;
	transition:0.3s;
}

.modal .nextImg {
	position:absolute;
	top:50%;
	right:50px;
	color:#787878;
	font-size:40px;
	transition:0.3s;
}

.modal .prevImg {
	position:absolute;
	top:50%;
	left:50px;
	color:#787878;
	font-size:40px;
	transition:0.3s;
}

.modal .close:hover,
.modal .close:focus,
.modal .prevImg:hover,
.modal .prevImg:focus,
.modal .nextImg:hover,
.modal .nextImg:focus {
	color:#bbb;
	text-decoration:none;
	cursor:pointer;
}

.ProjectText {
	width:80%;
	margin-top:65px;
	margin-left:10%;
	text-align:left;
	color:white;
	background-image:linear-gradient(to right, rgba(191, 126, 205, 0), rgba(191, 126, 205, 0.35) 0% 100%, rgba(191, 126, 205, 0));
	border-radius:5em;
}

.ProjectText p {
	padding-top:15px;
	padding-bottom:15px;
	width:92%;
	margin-left:4%;
	font-size:22px;
}

.ProjectText .buttons a {
	display:inline-block;
	background-color:#1e8c96;
	color:white;
	line-height:22px;
	letter-spacing:1px;
	border-radius:5em;
	margin-bottom:25px;
	cursor:pointer;
}

.ProjectText .buttons a:hover {
	background-color:#177580;
}

.ProjectText a p {
	padding:12px 18px;
	margin-top:7px;
	width:100%;
	margin-left:0%;
	font-size:22px;
}

.ProjectText .container p {
	margin:0;
}

.ProjectText img{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.ProjectText .buttons{
	display:flex;
	justify-content:space-evenly;
}