<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">  
		<title>XYZ - Online portfolio</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div class="header">
			<div class="title">
				<a href="index.html"><h1>XYZ - Portfolio</h1></a>
			</div>
			<div class="links">
				<a href="contact.php"><h2>Contact</h2></a>
			</div>
			<div class="links">
				<a href="projectList.html"><h2>My work</h2></a>
			</div>
			<div class="links">
				<a href="aboutMe.html"><h2>About me</h2></a>
			</div>
		</div>

		<div class="personals">
			<div class="picture">
				<img src="img/placeholder/personPicture.png">
			</div>
			<div class="details">
				<div class="row">
					<div class="col-md-6">
						<h3><u><b>General</b></u></h3>
						<br>
						<h3><b>Name:</b> XYZ</h3>
						<h3><b>Birthday:</b> XYZ</h3>
						<h3><b>Born in:</b> XYZ</h3>
						<h3><b>Nationality:</b> XYZ</h3>
						<h3><b>Languages:</b> XYZ</h3>
						<h3><b>Interests:</b> XYZ</h3>
						<h3><b>Computer languages:</b> XYZ</h3>
						<h3><b>Known applications:</b> XYZ</h3>
					</div>
					<div class="col-md-6">
						<h3><u><b>About my life</b></u></h3>
						<br>
						<h3><b>Graduation:</b> XYZ</h3>
						<h3><b>After graduation:</b> XYZ</h3>
						<h3><b>Currently:</b> XYZ</h3>
					</div>
				</div>
			</div>
			<div class="aboutMeText">
				<p><u>About Me:</u><br><br>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
					sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
					ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
					magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
					sanctus est Lorem ipsum dolor sit amet.
					<br><br>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
					sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
					ipsum dolor sit amet.
				</p>
			</div>
		</div>

		<div class="footer">
			<h3><br>Information</h3>
			<br>
			<div class="row">
				<div class="col-md-4">
					<h5>Text<br>TextText<br>TextTextText</h5>
				</div>
				<div class="col-md-4">
					<h5>Text</h5>
				</div>
				<div class="col-md-4">
					<h5>TextText<br>TextTextText</h5>
				</div>
			</div>
		</div>
	</body>
</html>