<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">  
		<title>XYZ - Online portfolio</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div class="header">
			<div class="title">
				<a href="index.html"><h1>XYZ - Portfolio</h1></a>
			</div>
			<div class="links">
				<a href="contact.php"><h2>Contact</h2></a>
			</div>
			<div class="links">
				<a href="projectList.html"><h2>My work</h2></a>
			</div>
			<div class="links">
				<a href="aboutMe.html"><h2>About me</h2></a>
			</div>
		</div>

		<div class="introduction">
			<h1>Welcome!</h1>
			<h4>My name is XYZ and I am from XYZ<br>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</h4>
			<a href="#Item1ScrollPoint"><p>Feel free to take a <br>look at my stuff!</p></a>
		</div>

		<div id="Item1ScrollPoint"></div>

		<!--USE ASPECT RATIO 1:1 FOR PROJECT IMAGES-->
		<div class="showcaseProjects">
			<h1>My most current stuff</h1>
			<div class="postBoxesContainer">
				<div class="postBoxContainer">
					<a href="projectSites/projectExample.html">
						<div class="postBox">
							<img src="img/placeholder/fish2.png">
							<h3>Lorem ipsum dolor sit</h3>
							<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
								aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
								no sea takimata sanctus est Lorem ipsum dolor sit amet.
								<br><br>
							</p>
						</div>
					</a>
				</div>
				<div class="postBoxContainer">
					<a href="projectSites/projectExample.html">
						<div class="postBox">
							<img src="img/placeholder/fish3.png">
							<h3>Lorem ipsum dolor sit</h3>
							<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
								aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
								no sea takimata sanctus est Lorem ipsum dolor sit amet.
								<br><br>
							</p>
						</div>
					</a>
				</div>
				<div class="postBoxContainer" style="display:none;">
					<a href="projectSites/projectExample.html">
						<div class="postBox">
							<img src="img/placeholder/fish2.png">
							<h3>Lorem ipsum dolor sit</h3>
							<h5>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
								aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
								no sea takimata sanctus est Lorem ipsum dolor sit amet.
								<br><br>
							</h5>
						</div>
					</a>
				</div>
				<div class="postBoxContainer" style="display:none;">
					<a href="projectSites/projectExample.html">
						<div class="postBox">
							<img src="img/placeholder/fish3.png">
							<h3>Lorem ipsum dolor sit</h3>
							<h5>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
								aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
								no sea takimata sanctus est Lorem ipsum dolor sit amet.
								<br><br>
							</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="postText">
				<a href="projectList.html">
					<p>Show all my<br>stuff!</p>
				</a>
			</div>
		</div>

		<!--Since Adblockers detect certain phrases and words I had to change the "socialmedia" tag and the "facebook" file name-->
		<div class="findMe">
			<h1>Want to know more about me?</h1>
			<a href="aboutMe.html"><p>Click here!</p></a>
			<h1>Or find me here...</h1>
			<div class="row">
				<div class="col-md-4">
					<h2>on<br>Facebook!</h2>
					<div class="icon">
						<a href="https://www.facebook.com/"><img src="img/socialmedia/fazebok.png"></a>
					</div>
					<h2>CommentXY</h2>
				</div>
				<div class="col-md-4">
					<h2>on<br>Youtube!</h2>
					<div class="icon">
						<a href="https://www.youtube.com/"><img src="img/socialmedia/youtube.png"></a>
					</div>
					<h2>CommentXY</h2>
				</div>
				<div class="col-md-4">
					<h2>on<br>GitHub!</h2>
					<div class="icon">
						<a href="https://github.com/"><img src="img/socialmedia/github.png"></a>
					</div>
					<h2>CommentXY</h2>
				</div>
			</div>
		</div>

		<div class="footer">
			<h3><br>Information</h3>
			<br>
			<div class="row">
				<div class="col-md-4">
					<h5>Text<br>TextText<br>TextTextText</h5>
				</div>
				<div class="col-md-4">
					<h5>Text</h5>
				</div>
				<div class="col-md-4">
					<h5>TextText<br>TextTextText</h5>
				</div>
			</div>
		</div>
	</body>
</html>