<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">  
		<title>XYZ - Online portfolio</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div class="header">
			<div class="title">
				<a href="index.html"><h1>XYZ - Portfolio</h1></a>
			</div>
			<div class="links">
				<a href="contact.php"><h2>Contact</h2></a>
			</div>
			<div class="links">
				<a href="projectList.html"><h2>My work</h2></a>
			</div>
			<div class="links">
				<a href="aboutMe.html"><h2>About me</h2></a>
			</div>
		</div>

		<!-- USE ASPECT RATIO 1:1 FOR PROJECT IMAGES -->
		<div class="projectList">
			<h1>List of my stuff:</h1>
				<div class="postBoxesContainer">
					<div class="postBoxContainer">
						<a href="projectSites/projectExample.html">
							<div class="postBox">
								<h5>Comment: XYZ</h5>
								<img src="img/placeholder/fish2.png">
								<h4>Lorem ipsum dolor sit</h4>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
									aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
									no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</div>
						</a>
					</div>
					<div class="postBoxContainer">
						<a href="projectSites/projectExample.html">
							<div class="postBox">
								<h5>Comment: XYZ</h5>
								<img src="img/placeholder/fish3.png">
								<h4>Lorem ipsum dolor sit</h4>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
									aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
									no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</div>
						</a>
					</div>
					<div class="postBoxContainer">
						<a href="projectSites/projectExample.html">
							<div class="postBox">
								<h5>Comment: XYZ</h5>
								<img src="img/placeholder/fish2.png">
								<h4>Lorem ipsum dolor sit</h4>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
									aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
									no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</div>
						</a>
					</div>
					<div class="postBoxContainer">
						<a href="projectSites/projectExample.html">
							<div class="postBox">
								<h5>Comment: XYZ</h5>
								<img src="img/placeholder/fish3.png">
								<h4>Lorem ipsum dolor sit</h4>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
									aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
									no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</div>
						</a>
					</div>
					<!--Placeholder for project-->
					<div class="postBoxContainer">
						<a href="projectSites/projectExample.html">
							<div class="postBox">
								<h5>Comment: XYZ</h5>
								<img src="img/placeholder/fish2.png">
								<h4>Lorem ipsum dolor sit</h4>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
									aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
									no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</div>
						</a>
					</div>
					<!--Placeholder for project-->
					<div class="postBoxContainer">
						<a href="projectSites/projectExample.html">
							<div class="postBox">
								<h5>Comment: XYZ</h5>
								<img src="img/placeholder/fish3.png">
								<h4>Lorem ipsum dolor sit</h4>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
									aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
									no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<h3><br>Information</h3>
			<br>
			<div class="row">
				<div class="col-md-4">
					<h5>Text<br>TextText<br>TextTextText</h5>
				</div>
				<div class="col-md-4">
					<h5>Text</h5>
				</div>
				<div class="col-md-4">
					<h5>TextText<br>TextTextText</h5>
				</div>
			</div>
		</div>
	</body>
</html>